# =========================================================
# Laravel
# =========================================================

/vendor/
/node_modules/

# Environment files
.env
.env.*
!.env.example

# Laravel cache
.phpunit.result.cache

# =========================================================
# Storage
# =========================================================

/storage/*.key

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# =========================================================
# Laravel bootstrap cache
# =========================================================

/bootstrap/cache/*

# =========================================================
# Vite
# =========================================================

/public/hot

# =========================================================
# Vercel
# =========================================================

.vercel/

# =========================================================
# IDE
# =========================================================

/.idea/
/.vscode/

# =========================================================
# OS files
# =========================================================

.DS_Store
Thumbs.db