/vendor/
/node_modules/

.env
.env.*
!.env.example

.phpunit.result.cache

/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/

/storage/framework/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

/public/storage/

storage/*.key

.vercel/

.idea/
.vscode/

.php-cs-fixer.cache

.DS_Store
Thumbs.db